    /* prevents content from noticably shifting due to scrollbars */
    html { overflow-y: scroll; }
    h1, h2, h3, h4 , h5, h6, legend { font-family: "open sans condensed"; }

    /* h1 is main title of project */
    h1 { text-align: center; padding-bottom: 30px; border-bottom: 1px solid #eee; font-size: 42px; }
    h1 > a { color: inherit; }
    h1 > a:hover { color: inherit; text-decoration: none; }

    h2 { text-align: center; font-weight: bold; font-size: 24px; line-height: 30px; margin: 10px 0px; }
    #footer { margin-bottom: 5em; text-align: center;}

    .infoBar {
        padding: 5px;
        margin: 0 0 1em;
        background-color: #E3E9F2;
        text-align: center;
        font-size: .8em;
        border-bottom: 1px solid #C1CAD5;
    }

    .button {
        width: 11em;
        background-color: #f0f0f0;
        border: 1px solid #CCCCCC;
        font-size: .8em;
        padding: 0 0.75em;
    }
